[options]
packages = find:
package_dir =
    = src
install_requires =
    openai
    opencv-python
    matplotlib
    numpy
    langchain
    langgraph
    langchain-mistralai

[options.packages.find]
where = src

[options.entry_points]
console_scripts =
    cursor-ai = harish_ai_assistant.cli:start_cli
